extends layout

block body
  nav  
    a(href="/") Início 
    a(href="/menu") Cardápio
    div.user-info 
      img(src="/images/login.png")
  main 
    article.offer  
      each food in foods 
       - foodEnglishName = food.englishName.toLowerCase();
       - formatedFoodEnglishName = "";
         each v, i in foodEnglishName 
           if v == " "
             - formatedFoodEnglishName  += "-"
           else
             - formatedFoodEnglishName += v.toLowerCase() 
       div(class=`offer-${formatedFoodEnglishName}`)
         img.offer(src= food.urlImage)
         button() saiba mais
         img(src="/images/arrow-left.png")
         img(src="/images/arrow-right.png")
    article.food-suggestions  
      each type in types
        - var formatedFoodTypeEnglishName = ""
          - foodTypeEnglishName = type.englishName
          each v, i in foodTypeEnglishName 
            if v == " "
              - formatedFoodTypeEnglishName  += "-"
            else
              - formatedFoodTypeEnglishName += v.toLowerCase()
        div(class=`food-suggestion-${formatedFoodTypeEnglishName}`)
          img.suggestion(src= type.urlImage)
          form(method="POST")  
            - //input(type="hidden" name="type-url" value=type.url)
            button(type="submit") Ver mais
          img(src="/images/arrow-left.png")
          img(src="/images/arrow-right.png")
  footer  
    div.logo  
    div.user-politics  
      each politic in politics 
        a(href=politic.url)= politic.name  
    div.hr-conteiner
      hr 
    p= shareText
    div.share 
      each socialMedia in socialMedias
        a.share(href=socialMedia.url)
          - socialMediaName = "";
          each v in socialMedia.name
            if v == " "
              - socialMediaName +="-"
            else 
              - socialMediaName += v.toLowerCase()
          img(src=`/images/${socialMediaName}-logo.${socialMedia.iconFormat}`)
    div#image-rights  
      p Todos os direitos reservados