extends layout

block body
  nav  
    a(href="/") inicio 
    a(href="") receitas
  main 
    article.offer  
      each food in foods  
       div(class=`offer-${food._id}`)
         button() saiba mais
         img(src="./images/arrow-left.png");
         img(src="./images/arrow-right.png");
    article.food-suggestions  
      each type in types
        div(class=`food-suggestion-${type.name}`)
          form(method="POST")  
            input(type="hidden" name="type-url" value=type.url)
            button(type="submit")
          img(src="./images/arrow-left.png")
          img(src="./images/arrow-right.png")
  footer  
    div#logo  
    div#user-politics  
      each politic in politics 
        a(href=politic.url)= politic.name
    hr 
    div#share 
      p= shareText
        each socialMedia in socialMedias
          a#share(href=socialMedia.url)
            div(class=`logo-${socialMedia.name}`)
    div#image-rights  
      p Todos os direitos reservados