extends layout

block body
  - let imgUrl;
  nav  
    a(href="/") inicio 
    a(href="") receitas
  main 
    article.offer  
      each food in foods  
       div(class=`offer-${food._id}`)
         - imgUrl = food.english_name.toLowerCase();
         - modifiedUrl = "";
         each v, i in imgUrl 
           if v == " "
             - modifiedUrl  += "-"
           else
             - modifiedUrl += v.toLowerCase()
         img.offer(src=`../stylesheets/images/${modifiedUrl}.png`)
         button() saiba mais
         img(src="../stylesheets/images/arrow-left.png")
         img(src="../stylesheets/images/arrow-right.png")
    article.food-suggestions  
      each type in types
        div(class=`food-suggestion-${type.english_name.toLowerCase()}`)
          - var modifiedUrl = "";
          - imgUrl = type.english_name
          each v, i in imgUrl 
            if v == " "
              - modifiedUrl  += "-"
            else
              - modifiedUrl += v.toLowerCase()
          img.suggestion(src=`../stylesheets/images/${modifiedUrl}.png`)
          form(method="POST")  
            input(type="hidden" name="type-url" value=type.url)
            button(type="submit") Ver mais
          img(src="../stylesheets/images/arrow-left.png")
          img(src="../stylesheets/images/arrow-right.png")
  footer  
    div.logo  
    div.user-politics  
      each politic in politics 
        a(href=politic.url)= politic.name
    hr 
    div.share 
      p= shareText
      each socialMedia in socialMedias
        a.share(href=socialMedia.url)
          div(class=`logo-${socialMedia.name}`)
    div#image-rights  
      p Todos os direitos reservados